<!DOCTYPE html>
<html lang="en">
    <head>
        <base href="{{baseHref}}">

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <meta name="description" content="A set of tools for people who do and love Improv.">
        <meta name="author" content="DenyConformity.com">
        <meta name="keywords" content="Improv, improvisers, improv games, learn improv, comedy">

        <title>{{title}}</title>

        <link rel='stylesheet' href='{{baseHref}}css/style.css'>

        {{!--<script src="https://use.fontawesome.com/029f962566.js"></script>--}}
        <link rel="stylesheet" href="{{baseHref}}css/font-awesome.css">

        <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Alex+Brush' rel='stylesheet' type='text/css'>

        
        <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png?v=aljOLLNPaB">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png?v=aljOLLNPaB">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png?v=aljOLLNPaB">
        <link rel="manifest" href="/favicon/manifest.json?v=aljOLLNPaB">
        <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg?v=aljOLLNPaB" color="#2b80ad">
        <link rel="shortcut icon" href="/favicon/favicon.ico?v=aljOLLNPaB">
        <meta name="msapplication-config" content="/favicon/browserconfig.xml?v=aljOLLNPaB">
        <meta name="theme-color" content="#2b80ad">
        
    </head>
    <body>

        {{!--<div id="cornerLogo">
            <img src="/images/cornerlogo.png" />
        </div>--}}

        {{{body}}}

    </body>
</html>